html {
  scroll-behavior: smooth;
}
.menu {
    display: flex;
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
}

.menu li {
    margin-right: 20px; /* Spacing between menu items */
}

.menu li:last-child {
    margin-right: 0; /* Remove margin for the last item to avoid extra space on the right */
}

.menu a {
    text-decoration: none; /* Remove the underline from the links */
    color: #333; /* Text color */
}

.menu a:hover {
    color: #007BFF; /* Text color on hover */
}





body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
