html {
  scroll-behavior: smooth;
}
/* Reset default list styles */
ul.horizontal-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #000000; /* Dark background for the menu */
  overflow: hidden; /* Ensures the menu does not affect surrounding elements */
  position: fixed; /* Fix the menu at the top of the page */
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0px;
  width: 100%; /* Menu should span the full width of the viewport */
  z-index: 1000; /* Ensures the menu stays on top of other elements */
  text-align: center;
}

/* Style for each menu item */
ul.horizontal-menu li {
  display : inline-block;
  float: none; 
}

/* Style for the links in the menu */
ul.horizontal-menu li a {
  display: block; /* Structure the link as a block for better click area */
  color: grey; /* Text color */
  text-align: center;/* Center text within the link */
  padding: 14px 16px; /* Space around the text */
  text-decoration: none; /* No underline on the links */
}

/* Style for links on hover */
ul.horizontal-menu li a:hover {
  background-color: #ddd; /* Light background on hover */
  color: black; /* Text color on hover */
}

/* Style for the current/active menu item */
ul.horizontal-menu li a.active {
  background-color: #4CAF50; /* Different background for the active link */
}



.Header {
  padding-top: 20px; /* Adjust the value as needed */
}


body {
  padding: 0;
  margin: 0;
  background-color: #2272FF;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
     margin-top: 20px; 
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bubble-button {
  padding: 10px 20px;
  background: linear-gradient(145deg, #ff88e9, #c264fe);
  border-radius: 30px; /* This will give the bubble effect */
  color: white;
  text-decoration: none; /* Removes the underline from the link */
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
  display: inline-block; /* Allows padding and margins to work properly */
  transition: transform 0.2s; /* Smooth effect for clicking */
}

.bubble-button:hover {
  transform: scale(1.05); /* Slightly enlarges the button when hovered */
}

